/*.leaflet-popup-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}*/

.chart {
  width: 50%;
}

.leaflet-popup-content-wrapper{
  width: 550px;
}

.leaflet-marker-icon{
  opacity: 0.6;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}